<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav navbar-left">
    <li><a href="#">Reddit Clone</a></li>
    <li><a href="{%url 'signup' %}">Signup</a></li>
    <li><a href="{% url 'loginview' %}"> Login</a></li>
    <li><a href="{% url 'create' %}"> New Post</a></li>

  </ul>
</nav>
{% if error %}
  {{error}}
{% endif %}

<div class="container">
  <form class="form-horizontal" action='' method="POST">
    {% csrf_token %}

  <fieldset>
    <div id="legend">
      <h1> <legend class="">Login</legend></h1>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
      </div>
    </div><br>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Login</button>
      </div>
    </div>
  </fieldset>
 </form>
</div>
