{% extends 'base.html' %}

{% block content %}
  {% if error %}
    {{error}}
  {% endif %}

<div class="container">
  <form class="form-horizontal" action='' method="POST">
    {% csrf_token %}
  <fieldset>
    <div id="legend">
      <h1> <legend class="">New Post</legend></h1>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="title">Title</label>
      <div class="controls">
        <input type="text" id="title" name="title" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="url"> URL</label>
      <div class="controls">
        <input type="text" id="url" name="url" placeholder="" class="input-xlarge">
      </div>
    </div><br>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Post</button>
      </div>
    </div>
  </fieldset>
 </form>
</div>
{% endblock %}
